# Stripe API keys
STRIPE_PUBLISHABLE_KEY=pk_test_51IGN93BjcNoxwpQCxtNWaFOJ9L4x3LmesoTrw14gj0bI43QR6Yop4svEAz6vUapU2ddWHDRe1I3VnPY1e9eOTN4i00BhtL6pG8
STRIPE_SECRET_KEY=sk_test_51IGN93BjcNoxwpQCsP5i63Nd8DgBwN8MeR1K8OE4FsH8w4NZYp7RCIccJLM6L7aPNvsQAAiI8e7SDqbvVZNSX44Y00CMouoGFD

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234...

STATIC_DIR=../../client/html

# Create a Price on Stripe using the Dashboard or API
PRICE=price_1IKHIABjcNoxwpQCNZxtwMVb
DOMAIN=http://localhost:4242
# DOMAIN="http://localhost:3000" # When using the React client

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.

PAYMENT_METHOD_TYPES="card"


# Requires CURRENCY=eur
# PAYMENT_METHOD_TYPES="card,ideal"


# Requires CURRENCY=myr
# PAYMENT_METHOD_TYPES="card,fpx"
